<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Oasis</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles_agenda.css">
</head>

<body>
  <div class="box" id="heading">
    <h1> <%= kindOfDay%> </h1>
  </div>

  <div class="box">
    <ul>
      <%for(var i=0;i<newActivity.length;i++){%>
      <div class="item">
        <input type="checkbox" name="" value="">
        <p><%= newActivity[i] %> </p>
      </div>

      <%}%>
    </ul>
    <form class="item" action="/agenda" method="post">
      <input type="text" name="newActivity" value="" placeholder="New-Agenda" autocomplete="off">
      <button type="submit" name="button" class="add-button">+</button>
    </form>
  </div>

  <div class="">
    <form class="" action="/joinRoom" method="post">
      <button type="submit" name="button" class="joinRoom-button"><h7>New meeting</h7></button>
    </form>
    <form class="" action="/joinRoomByNickName" method="post">
      <input class="nickName" type="text" name="nickName" value="" placeholder="Enter a code or nickname" autocomplete="off">
    </form>
  </div>


  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>

</html>
